
@{
    ViewData["Title"] = "Index";
}

@*@{
        Layout = null; // ViewStartan gelen Layotu komutunu ezdim...
    }*@


<article class="about-section py-5">
    <div class="container">
        <h2 class="title mb-3">Benim Hakkımda !</h2>

        <p>Ben Kaan Meşe . Kırıkkalede doğum, büyüm, okudum ve sonra İzmir'e devlet memuru olarak geldim ve burada yazılım öğrenmeye başladım. Ve bundan sonraki hayatımı yurt dışında (tabiki gelişmiş ülkelerde :D) geçirmek istiyorum ve bu yönde kendimi geliştiriyorum. </p>
        <figure><img class="img-fluid" src="assets/images/about-me.jpg" alt="image"></figure>
        <h5 class="mt-5">Benim Hakkımda Detaylar.</h5>
        <p>04/05/1993 Doğumluyum. İlköğretim , lise ve üniversiteyi Kırıkkale'de ve şuan hayatımı İzmir'de yaşıyorum. 
        <br />
        Atatürk ilköğretim,
        <br />
        Anadolu Ticaret Meslek Lisesi , Bilgisayar Teknoloji Alanında Web Teknolojileri dalından,
        <br />
        Anadolu Üniversitesi Tarih Bölümü (Mezun) ,
        <br />
        Anadolu Üniversitesi Siyaset Bilimi ve Kamu Yönetimi Bölümünde okuyorum.
        <br />
        infaz Koruma Memuru olarak İzmirde yaşıyorum.
        <br />
        BT Akademiden Yazılım Eğitimi(Back-End Developer) aldıktan sonra hayatımı bu yönde şekillendirmeye başladım.</p>
        <h5 class="mt-5">Eğitimlerim</h5>
        <p>
            American Culture English Language Education
            <br />
            BT Akademi Yazılım Uzmanlığı Eğitimi(Back-End Developers)
            <br />
            Udemy Eğitimlerim ;
            <br />
            <a href="https://www.udemy.com/certificate/UC-e9e73940-5736-4bac-8765-81950883b3ed/"><i></i> Beden Dili </a>
            <br />
            <a href="https://www.udemy.com/certificate/UC-a682ff4f-1c00-4465-b747-be7c58cd5856/"><i></i> İletişim de Hipnotik Gizli Metaforlar </a>
            <br />
            <a href="https://www.udemy.com/certificate/UC-32d03647-3fea-433f-9c84-378b7dcc18fd/"><i></i> Temel NLP Kursu </a>
        </p>
        <h5 class="mt-5">Diğer Projelerim(Linkleri yakında yayınlayacağım)</h5>
        <p>
            Mvc5 ile 3 Panelli Kütüphane Yönetim Sistemi
            <br />
            ASP . Net Core MVC Music Store List E-Ticaret
            <br />
            Mvc5 ile Sıfırdan Admin Panelli Dinamik CV Sitesi
        </p>

        <figure><a href="https://made4dev.com"><img class="img-fluid" src="assets/images/promo-banner.jpg" alt="image"></a></figure>
    </div>
</article><!--//about-section-->

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Bülten :D</h2>
        <div class="intro">Bloğuma Hoş Geldin. Abone Ol.</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="semail">Emailiniz ?</label>
                <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Abone Ol</button>
        </form>
    </div><!--//container-->
</section>

<footer class="footer text-center py-2 theme-bg-dark">

    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Kaan's</a> for developers</small>

</footer>
