
@{
    ViewData["Title"] = "Profil Bilgilerimi Güncelle";
}

<h1>Hoşlgeldin @User.Identity.Name</h1>

<form asp-action="UpdatePhoto" asp-controller="Account" method="post" enctype="multipart/form-data">
    <input type="file" name="File" /> <!--formadan veri göndermek için kullanılır-->
    <input type="submit" value="Profil Foto Güncelle"/>
</form>